/*** Generiek ***/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #aedda0;
    background-image: linear-gradient(to bottom, #78e769, #4db140);
    min-height: 50em;
    }

main {
    width: 40em;
    margin: auto;
    position: static;
}

/*** Generiek voor h2, aside, .pagetitle, .btn ***/
h2, aside, .pagetitle, .btn{
    display: inline-block;
    color: rgb(8, 182, 8);
    font-size: larger;
    font-weight: bold;
}

/*** Gemeenschappelijke eigenschappen, menu, artikel, titel pagina ***/
aside, article, .pagetitle {
    display: inline-block;
    border: solid rgb(8, 182, 8);
    border-radius: 5px;
    background-color: rgb(147, 243, 155);
}

/*** Paginatitel ***/
.pagetitle {
    display: block;
    text-align: center;
    font-size: 200%;
}

/*** Breadcrumbs ***/
.breadcrumbs { 
    display: block;
    list-style: none;
    width: 25em;
  }

.breadcrumbs li {
    display: inline-block;
    width: auto; 
    float: none;
}

.breadcrumbs ul {
    display: inline;
}

.breadcrumbs li:after {
    content: '\00bb';
    color: white;
    padding: 0.5em;
}

/*** Links ***/
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: green;
}

/*** Menu ***/
aside {
    float: left;
    clear: left;
    width: 10.5em;
    padding: 0 0 1em 0.5em;
}

/*** Titel menu ***/
.btn-head {
    padding: 0 0 0 0.25em; 
}

/*** Knoppen ***/
.btn-group {
    display: inline-block;
    margin: auto;    
}

.btn {
    cursor: pointer;
    width: 9.6em;
    height: auto;
    background-color: rgb(8, 182, 8);
    border-radius: 5px;
    border: dotted 1px white;
    color: white;
    font-size: large;
    padding: 0.5em;
    transition: all 0.5s;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2em;
    transition: 0.1s;
}

.btn:hover {
    background-color: rgb(50, 235, 50);
    color: green;
    padding-right: 0;
}

.btn:hover span:after {
    opacity: 1;
}
  
/*** Artikel blok ***/
article {
    text-align: center;
    width: 25.5em;
    margin: 0 0 0 0.5em;
}

/*** Titel van artikel ***/
article h2 {
    margin: auto;
    padding: 0.5em 0 0.5em 0;
}

/*** Tekst in artikel ***/
article p {
    margin: 0 1em 0 1em;
    text-align: left;
}

/*** Afbeelding en canvas ***/
canvas, img {
    display: inline-block;
    width: 360px;
    height: 360px;
    padding: 0.5em 1em 0.5em 1em;
}

canvas {
    clear: left;
    border: dotted thin #4db140; 
    margin: 0 0 0.2em 0.2em;
    background-color: rgb(210, 250, 202);
}

/*** Knoppen boven het canvas ***/
.canv {
    padding: 0 1em 0 1em;
    background-color: rgb(8, 182, 8);
    border-radius: 5px;
    border: dotted 1px white;
    color: white;
    margin: 0 1em 1em 1em;
}

.canv:hover {
    cursor: pointer;
    background-color: rgb(50, 235, 50);
    color: green;
}

/*** Footer ***/
footer {
    position: relative;
    clear: left;
    padding: 1em 0 0 0;
    text-align: center;
    margin: auto;
    color: white;
}

footer p:hover {
    color: #756c6c;
}
